@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$bg-black: hsl(0, 0%, 0%);
$bg-grey: hsl(0, 0%, 15%);

$invisible: hsla(0, 0%, 0%, 0);

$petrol-transparent: hsl(180, 80%, 50%, 0.5);
$petrol-transparent-light: hsla(180, 100%, 50%, 0.5);
$petrol-ultra-transparent: hsla(182, 63%, 54%, 0.2);
$petrol-dark-transparent: hsla(182, 63%, 54%, 0.25);

$petrol-solid: hsl(182, 54%, 27%);
$petrol-glow: hsl(182, 90%, 50%);

$gradient1: hsl(56, 100%, 56%);

$text: hsl(0, 0%, 95%);
$text-grey: hsl(0, 0%, 60%);

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
  color: $text;
  scroll-behavior: smooth;
}
html {
  width: 100%;
}
@supports (scrollbar-color: $petrol-transparent-light $bg-black) {
  * {
    scrollbar-color: $petrol-transparent-light $bg-black;
  }
}

/*  HA-Madal
*/
dialog#ha {
  width: 100%;
  height: 100%;

  margin: auto;

  &:not([open]) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  color: $text;
  border: none;

  &::backdrop {
    background: black;
    opacity: 1;
  }
  img {
    width: 100%;
  }
  a {
    height: 40px;

    padding-left: 20px;
    padding-right: 20px;

    margin: 10px;

    display: flex;
    align-items: center;

    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;

    background: linear-gradient(black, black) padding-box,
      linear-gradient(45deg, $gradient1, $petrol-solid) border-box;
    border: solid 2px transparent;
  }
}

/*header bild*/

header {
  min-height: 100vh;
  background: linear-gradient($petrol-transparent, rgba(0, 0, 0, 0.7)),
    url(./img/headerBackground.webp) center/cover no-repeat;
}

/*header link liste*/
.navbar {
  width: calc(100% - 20px);
  height: 60px;
  margin: 10px;

  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: 30px;

  transition: 500ms;
}
.navbarFixed {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  top: 0px;
  left: 0px;
  z-index: 10;

  background: linear-gradient($petrol-transparent-light, $petrol-transparent);
  box-shadow: inset 0 1px 2px hsl(182, 54%, 50%);

  backdrop-filter: blur(5px);

  transition: 500ms;
}
.profileImage {
  height: 40px;
  width: 40px;
  margin: 7.5px 10px 7.5px 10px;

  border: white solid 2.5px;
  border-radius: 21.25px;
}
.navbarButton {
  height: 60px;
  margin: 0 20px 0 20px;
  margin-right: 0px;

  align-content: center;

  text-decoration: none;
  font-weight: 600;
  font-size: 24px;

  background-color: $invisible;
  border: none;
  visibility: hidden;
  display: none;
}
.linkContainer {
  width: calc(100% - 0px);
  display: flex;
  flex-direction: row;
  justify-content: start;

  .navbarLink {
    height: 60px !important;
    margin: 0 20px 0 20px;

    display: flex;
    align-content: center;
    z-index: 16;

    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;

    transition: 500ms;

    &:hover {
      transition: all 500ms;
      scale: 1.05;
    }
  }
}
.languageSelector {
  display: flex;
  flex-direction: row;

  position: absolute;
  right: 0px;
  button {
    height: 42.5px;
    width: 42.5px;
    margin: 7.5px 10px 7.5px 0px;
    position: relative;
    overflow: hidden;

    background-color: $invisible;
    border: none;
    border-radius: 50%;

    border: white solid 2.5px;
    img {
      border-radius: 21.25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
@media (max-width: 600px) {
  .linkContainer {
    width: calc(100% - 180px);

    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0px;

    transition: 500ms;
  }
  .navbarButton {
    visibility: visible;
    display: block;
    padding-right: 20px;
  }
  .languageSelector {
    padding-left: 20px;
    position: relative;
  }

  .showLinks {
    // for each link 60px height in this class
    height: 240px;
    transition: 500ms;
  }
}
.bannerGrid {
  display: grid;
  grid-template-columns: 1fr, 1fr;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;

  justify-content: space-evenly;

  position: relative;
  top: calc(50vh);
  left: calc(50%);
  transform: translateY(-50%);

  height: 400px;
  width: 40vw;

  backdrop-filter: blur(5px);
  background-color: $petrol-ultra-transparent;
  box-shadow: inset 0 2px 4px hsl(0, 0%, 30%);

  border-radius: 25px;
  transition: 500ms;

  .line {
    height: 2px;
    width: 80%;

    border-radius: 1px;

    background-color: hsl(0, 0%, 50%);
  }
  .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .bannerLink {
      height: 20px;
      width: 100px;

      padding: 5px;

      align-content: center;
      font-weight: bold;
      text-decoration: none;

      border: 2px solid $text;
      border-radius: 20px;
      transition: 1000ms;
      &:hover {
        background-color: $text;
        color: $bg-grey;
        span {
          color: $bg-grey;
        }
      }
      span {
        transition: 1000ms;
      }
    }
  }
}
@media (max-width: 600px) {
  .bannerGrid {
    display: flex;
  }
  .banner {
    width: 80vw;

    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.animatedBorder {
  background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%)) padding-box,
    conic-gradient(
        from var(--angle),
        $invisible 0%,
        $gradient1 10%,
        $invisible 20%,
        $invisible 50%,
        $gradient1 60%,
        $invisible 70%
      )
      border-box;
  border: solid 2px transparent;

  animation: 3s linear rotation infinite;
  animation-play-state: paused;

  &:hover {
    animation-play-state: running;
  }
}
@keyframes rotation {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  Header ende
 
*/
body {
  background-color: $bg-black;
}
@media (min-width: 1000px) {
  main {
    padding-left: calc(calc(100vw - 1000px) / 2);
    padding-right: calc(calc(100vw - 1000px) / 2);
  }
}

section.contentSection {
  padding-top: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.highlightText {
  color: $gradient1;
}

.infotext {
  width: calc(100% - 100px);
  padding: 25px;
  margin: 25px;

  background-color: $bg-grey;
  border-radius: 25px;

  background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
  box-shadow: inset 0 1px 2px hsl(0, 0%, 30%);

  text-wrap: balance;

  font-size: larger;
  overflow: hidden;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 80px);
  grid-gap: 20px;
  padding: 20px;
}
.technology {
  height: 80px;
  gap: 20px;

  display: flex;
  flex-direction: row;

  background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
  box-shadow: inset 0 1px 2px hsl(0, 0%, 30%);
  border-radius: 20px;
  &:hover {
    background: linear-gradient(0deg, hsl(0, 0%, 10%), hsl(0, 0%, 15%));
  }
  p {
    margin: 10px;
    margin-left: 0px;
    font-weight: 500;
    line-height: 28px;

    span {
      color: $text-grey;
      font-weight: 400;
    }
  }
  .line {
    height: 60px;
    width: 2px;
    margin-top: 10px;

    border-radius: 1px;

    background-color: hsl(0, 0%, 50%);
  }
  .logo {
    width: 60px;
    height: 60px;
    margin: 10px;
    margin-right: 0px;
  }
  .js {
    border-radius: 8px;
  }
  .scratch {
    transition: ease-out all 600s;
    &:hover {
      transform: translateY(-30000px);
    }
  }
  .react {
    transform: rotate(var(--angle));
    animation: 60s linear rotation infinite;
  }
}
@media (max-width: 900px) {
  .technologies {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 80px);
  }
}
@media (max-width: 600px) {
  .technologies {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 80px);
  }
}

/* -----------------------------------------------------------------------------projekte 
*/

.projektContainer {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  .projekt {
    margin: 20px;
    padding-bottom: 0px;
    position: relative;

    background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
    box-shadow: inset 0 1px 1px hsl(0, 0%, 30%);
    border-radius: 40px;

    h3 {
      padding: 20px;
      text-align: center;
    }
    p {
      height: 20px;
      margin: 20px;
      gap: 8px;
      span {
        margin-right: 8px;
        padding: 8px;
        background-color: hsl(0, 0%, 15%);
        border-radius: 8px;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      a {
        width: calc(50% - 30px);
        height: 40px;
        margin: 20px;
        padding: 5px;

        background-color: $petrol-solid;
        border-radius: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        line-height: 20px;
        font-size: 20px;
        font-weight: 600;
      }
      .github {
        background-color: hsl(0, 0%, 20%);
        margin-left: 0px;
      }
    }
  }
}
@media (max-width: 600px) {
  .projektContainer {
    grid-template-columns: 1fr;
  }
}

dialog.newRecord {
  // height: 200px;
  // width: 320px;
  padding: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;

  &:not([open]) {
    display: none;
  }

  background: linear-gradient(0deg, hsl(0, 0%, 10%), hsl(0, 0%, 15%));
  box-shadow: inset 0 2px 4px hsl(0, 0%, 30%);
  border-radius: 20px;
  border: none;
  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }

  div {
    min-width: 120px;
    height: 60px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;

    background: linear-gradient(0deg, hsl(120, 100%, 30%), hsl(120, 100%, 40%));
    box-shadow: inset 0 2px 4px hsl(120, 100%, 50%);
    border-radius: 20px;

    h1 {
      line-height: 60px;
      font-size: 60px;
    }
  }
  p {
    padding: 8px;
    margin-top: 20px;
    text-align: center;
    color: red;
    span {
      color: red;
    }
  }
  button {
    height: 40px;
    width: 200px;
    margin: auto;

    background: linear-gradient(0deg, hsl(0, 0%, 20%), hsl(0, 0%, 25%));
    box-shadow: inset 0 1px 2px hsl(0, 0%, 40%);
    border: none;
    border-radius: 20px;
  }
}
