@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --bg-black: hsl(0, 0%, 0%);
  --bg-grey: hsl(0, 0%, 15%);
  --invisible: hsla(0, 0%, 0%, 0);
  --petrol-transparent: rgba(63, 208, 212, 0.5);
  --petrol-ultra-transparent: rgba(63, 207, 212, 0.2);
  --petrol-dark-transparent: rgba(63, 207, 212, 0.25);
  --petrol-solid: hsl(182, 54%, 27%);
  --petrol-glow: hsl(182, 100%, 50%);

  --gradient1a: hsl(56, 100%, 56%);
  --gradient1b: hsl(182, 100%, 50%);
  --gradient1c: hsl(111, 100%, 54%);
}
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
  color: white;
  scroll-behavior: smooth;
}
html {
  width: 100%;
}
/*  HA-Madal
*/
dialog#ha:not([open]) {
  display: none;
}
dialog#ha {
  width: 100%;
  height: 100%;

  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  color: white;
  border: none;
}
dialog#ha::backdrop {
  background: black;
  opacity: 1;
}
dialog#ha > img {
  width: 100%;
}
dialog#ha > a {
  height: 40px;

  padding-left: 20px;
  padding-right: 20px;

  margin: 10px;

  display: flex;
  align-items: center;

  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;

  background: linear-gradient(black, black) padding-box,
    linear-gradient(
        45deg,
        var(--gradient1a) 0%,
        var(--gradient1b) 50%,
        var(--gradient1c) 100%
      )
      border-box;
  border: solid 2px transparent;
}

/*header bild*/
header {
  min-height: 100vh;
  background: linear-gradient(var(--petrol-transparent), rgba(0, 0, 0, 0.7)),
    url(./img/headerBackground.png) center/cover no-repeat;
}
/*header link liste*/
.navbar {
  width: calc(100% - 20px);
  height: 60px;
  margin: 10px;

  position: absolute;
  display: flex;
  flex-direction: row;

  border-radius: 30px;

  transition: 500ms;
}
.navbarFixed {
  position: fixed;
  display: flex;
  flex-direction: row;

  top: 0px;
  left: 0px;
  z-index: 10;

  background-color: var(--petrol-transparent);
  box-shadow: 0 0 5px var(--petrol-transparent);

  backdrop-filter: blur(5px);

  transition: 500ms;
}
.profileImage {
  height: 40px;
  width: 40px;
  margin: 7.5px 10px 7.5px 10px;

  border: white solid 2.5px;
  border-radius: 21.25px;
}
.navbarButton {
  height: 60px;
  margin: 0 20px 0 20px;
  margin-right: 0px;

  align-content: center;

  text-decoration: none;
  font-weight: 600;
  font-size: 24px;

  background-color: hsla(0, 0%, 0%, 0);
  border: none;
  visibility: hidden;
  display: none;
}
.linkContainer {
  width: calc(100% - 0px);
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.navbarLink {
  height: 60px !important;
  margin: 0 20px 0 20px;

  display: flex;
  align-content: center;
  z-index: 16;

  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 60px;

  transition: 500ms;
}
.navbarLink:hover {
  transition: all 500ms;
  scale: 1.05;
}
@media (max-width: 600px) {
  .linkContainer {
    width: calc(100% - 180px);

    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0px;

    transition: 500ms;
  }
  .navbarButton {
    visibility: visible;
    display: block;
  }
}
.showLinks {
  height: 180px;
  transition: 500ms;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;

  justify-content: space-evenly;

  position: relative;
  top: calc(50vh - 75px);
  left: calc(50% - 150px);

  height: 150px;
  width: 300px;

  backdrop-filter: blur(5px);
  background-color: var(--petrol-ultra-transparent);
  box-shadow: inset 0 0 5px black;

  border-radius: 25px;
  transition: 500ms;
}
.bannerLink {
  height: 20px;
  width: 100px;

  margin: 0px;
  padding: 5px;

  align-content: center;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  transition: 500ms;
}
.fancyBorder {
  background: linear-gradient(var(--petrol-solid), var(--petrol-solid))
      padding-box,
    linear-gradient(
        45deg,
        var(--gradient1a) 0%,
        var(--petrol-glow) 50%,
        var(--gradient1b) 100%
      )
      border-box;
  border: solid 2px transparent;
}

.banner,
.bannerLink {
  transition: transform 500ms ease;
}

.banner,
.bannerLink {
  transition: transform 500ms ease;
}

.banner:hover {
  transform: rotate(-180deg);
}
.banner:hover .bannerLink {
  transform: rotate(180deg);
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  Header ende
 
*/
body {
  background-color: var(--bg-black);
}

section.contentSection {
  min-height: 500px;
  padding-top: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.infotext {
  width: calc(100% - 100px);
  padding: 25px;
  margin: 25px;

  background-color: var(--bg-grey);
  border-radius: 25px;

  background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
  box-shadow: inset 0 1px 2px hsl(0, 0%, 30%);

  font-size: larger;
  overflow: hidden;
}

div.languageSelector {
  display: flex;
  direction: row;
  justify-content: space-around;
  position: relative;

  width: calc(100% - 50px);
  padding: 0px;
  margin: 25px;

  border-radius: 29px;
  gap: 4px;

  background-color: var(--bg-grey);
  background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
  box-shadow: inset 0 1px 2px hsl(0, 0%, 30%);
}
#languageSelectorBg {
  position: absolute;
  width: calc(25% - 8px);
  height: 32px;
  margin: 4px;

  border-radius: 30px;
  background-color: var(--petrol-solid);

  transition: 500ms;
}
button.language {
  width: auto;
  height: 40px;
  min-width: 50px;
  width: 25%;

  background-color: var(--invisible);

  border: none;
  border-radius: 25px;

  font-size: 16px;
  font-weight: 500;

  position: relative;
  z-index: 10;

  transition: 500ms ease-in-out;
}
button.language:hover {
  cursor: pointer;
}
#languageLogo {
  width: 150px;
  height: 150px;

  margin-right: 20px;
  margin-bottom: 20px;

  float: left;
}
@media (max-width: 400px) {
  #languageText {
    clear: left !important;
  }
}

#languageLogoSource {
  clear: left;
  font-size: 12px;
  text-wrap: wrap;
}
/* Linktree sction
*/
.linksBg {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(var(--petrol-transparent), rgba(0, 0, 0, 0.7)),
    url(./img/linksBackground.png) center/cover no-repeat;
  align-items: center;
}
.linksBg a {
  width: 200px;
  height: 40px;
  margin: 20px;

  background-color: var(--petrol-ultra-transparent);
  border-radius: 20px;
  box-shadow: inset 0 0 5px var(--petrol-dark-transparent);
  backdrop-filter: blur(4px);

  text-align: center;
  align-content: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.linksBg h2 {
  margin-bottom: 60px;
}

/* -----------------------------------------------------------------------------projekte 
*/

.projektContainer {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
}

.projekt {
  margin: 20px;
  padding-bottom: 0px;
  position: relative;
}
.projekt h3 {
  padding: 20px;
  text-align: center;

  border-radius: 40px 40px 0 0;
  background-color: var(--bg-grey);

  background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
  box-shadow: inset 0 1px 1px hsl(0, 0%, 30%);
}
.projekt img {
  border-radius: 0 0 40px 40px;
}

.projekt a {
  width: 100px;
  height: 40px;
  margin: 20px;

  background-color: var(--petrol-ultra-transparent);
  border-radius: 20px;
  box-shadow: inset 0 0 5px var(--petrol-dark-transparent);
  backdrop-filter: blur(4px);

  text-align: center;
  align-content: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;

  position: absolute;
  bottom: 0px;
  right: 0px;

  z-index: -1;
}
.projekt:hover a {
  z-index: 10;

  transition: 500ms;
}
